<%= form_for @user, :url => setting_path(@user) do |f| %>
  <%= f.error_messages %>

  <div><%= f.label :username %><br />
    <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>

  <div><%= f.submit "Update" %></div>
<% end %>
